{% extends 'base.html' %}

{% load static %}
{% block page_links %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% endblock  %}

{% block page_title %}
Polls Application
{% endblock  %}
{% block page_body %}
<h1><i>Polls Application</i></h1>
   {% if latest_question_list %}
      <ul>
      {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
      {% endfor %}
    </ul>
    <div class="alink" ><a href = "{% url 'polls:new' %}"> Add Question </a></div>
    {% comment %} <a href = "{% url 'polls:new' %}"> Delete </a> {% endcomment %}
   {% else %}
    <p>No polls are available.</p>
   {% endif %}
{% endblock  %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<div>
    <p><span></span></p>
</div>
<div>
    <li>
        <ul></ul>
        <ul></ul>
        <ul></ul>
    </li>
</div> {% endcomment %}